<div class="table-responsive col-sm-12 col-md-12">
    <table st-table="displayedCollection3" st-safe-src="ListAgent3" class="table form   col-lg-3 col-md-3  table-striped">
        <thead>
            <tr>




                <th st-sort="Subject" class="tbbg2">Subject</th>
                <th st-sort="Sent_Date" class="tbbg2">Sent_Date</th>

                <th st-sort="Agent_Code" class="tbbg2">Agent Code</th>

                <th st-sort="Title" class="tbbg2">Title</th>

                <th st-sort="Online_Id" class="tbbg2">Online Id</th>




                <th class="tbbg2">Read Mail</th>


            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection3">




                <td >{{row.Subject}}</td>

                <td>{{row.Sent_Date }}</td>

                <td>{{row.Agent_Code }}</td>

                <td>{{row.Title}}</td>

                <td>{{row.Online_Id}}</td>




                <td align="center">

                    <a target="_blank" ng-click="add2(row); $event.preventDefault(); $event.stopPropagation();" class="icon-bar" href="#"> <i class="glyphicon glyphicon-envelope "></i></a>
                </td>







            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
